*,*:before,*:after {
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #000;
}
canvas {
    display: block;
}
h1 {
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
    top: 0px;
    right: 10px;
}
#uiCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    /* background-color: rgba(30,80,66,0.5); */
}